<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.date | date: 'shortDate'}}</mat-cell>
    </ng-container>

    <!-- Titolo Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
    </ng-container>

    <!-- Descrizione Column -->
    <ng-container matColumnDef="descrizione">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descrizione</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.descrizione}}</mat-cell>
    </ng-container>

    <!-- Tipologia Column -->
    <ng-container matColumnDef="tipologia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipologia</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tipologia}}</mat-cell>
    </ng-container>

    <!-- Emettitore Column -->
    <ng-container matColumnDef="emettitore">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Emettitore</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.emettitore}}</mat-cell>
    </ng-container>

    <!-- Importo Column -->
    <ng-container matColumnDef="importo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Importo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.importo | currency:'EUR'}}</mat-cell>
    </ng-container>

    <!-- Numero Column -->
    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Numero</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.numero}}</mat-cell>
    </ng-container>

    <!-- Pagata Column -->
    <ng-container matColumnDef="pagata">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pagata</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.pagata; else notDisplayPagata">
          <i class="material-icons">done</i>
        </div>
        <ng-template #notDisplayPagata><i class="material-icons">close</i></ng-template>
      </mat-cell>
    </ng-container>

    <!-- DataPagamento Column -->
    <ng-container matColumnDef="dataPagamento">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data Pagamento</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.dataPagamento === undefined || row.dataPagamento === null || row.dataPagamento === 0; else notDisplayData">
        </div>
        <ng-template #notDisplayData>{{row.dataPagamento  | date: 'shortDate'}}</ng-template>
      </mat-cell>
    </ng-container>

    <!-- Azioni Column -->
    <ng-container matColumnDef="azioni">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(row._id, row.nome, row.date, row.descrizione, row.emettitore, row.tipologia, row.importo, row.numero)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(row._id, row.nome, row.descrizione)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="pagaFattura(row._id, row.nome, row.pagata, row.dataPagamento)">
          <mat-icon aria-label="Paga">payment</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>