<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Tipologia Column -->
    <ng-container matColumnDef="tipologia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipologia</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tipologia}}</mat-cell>
    </ng-container>

    <!-- Numero Column -->
    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Numero</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.numero}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Totale Column -->
    <ng-container matColumnDef="totale">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Totale</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.totale | currency:'EUR'}}</mat-cell>
    </ng-container>

    <!-- ImportoPagato Column -->
    <ng-container matColumnDef="importoPagato">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Importo Pagato</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.importoPagato !== undefined && row.importoPagato !== null; else notDisplayImportoPagato">
          {{row.importoPagato | currency:'EUR'}}
        </div>
        <ng-template #notDisplayImportoPagato></ng-template>
      </mat-cell>
    </ng-container>

    <!-- ImportoFinanziato Column -->
    <ng-container matColumnDef="importoFinanziato">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Importo Finanziato</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.importoFinanziato !== undefined && row.importoFinanziato !== null; else notDisplayimportoFinanziato">
          {{row.importoFinanziato | currency:'EUR'}}
        </div>
        <ng-template #notDisplayimportoFinanziato></ng-template>
      </mat-cell>
    </ng-container>

    <!-- Pagato Column -->
    <ng-container matColumnDef="pagato">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pagato</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.pagato === undefined || row.pagato === null; else displayPagato">
        </div>
        <ng-template #displayPagato>
          <div *ngIf="row.pagato; else displayNonPagato">
            <i class="material-icons">done</i>
          </div>
          <ng-template #displayNonPagato><i class="material-icons">close</i></ng-template>
        </ng-template>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

   <mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>