<div class="container">

  <h3>Dettagli preventivi da pagare</h3>

  <mat-dialog-content>

    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

      <!-- Titolo Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
      </ng-container>

      <!-- ImportoIva Column -->
      <ng-container matColumnDef="importoIva">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Importo Iva</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.importoIva | currency:'EUR'}}</mat-cell>
      </ng-container>

      <!-- ImportoDaPagare Column -->
      <ng-container matColumnDef="importoDaPagare">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Importo Da Pagare</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.importoDaPagare | currency:'EUR'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-dialog-actions>
      <button mat-button (click)="cancel()" tabindex="-1">Chiudi</button>
    </mat-dialog-actions>

  </mat-dialog-content>

</div>