<div class="container">
  <h3 mat-dialog-title>Fattura: {{fattura.nome}}</h3>

  <form class="mat-dialog-content" [formGroup]="fatturaForm">

    <div class="form">
      <mat-form-field color="accent">
        <input type="text" placeholder="Nome" maxlength="300" matInput formControlName="nome" required/>
        <div *ngIf="fatturaFormControls.nome.errors" class="invalid-feedback">
          <div *ngIf="fatturaFormControls.nome.errors.required">Il nome è obbligatorio</div>
          <div *ngIf="fatturaFormControls.nome.errors.minLength">Il nome deve avere almeno 4 caratteri</div>
        </div>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input disabled matInput placeholder="Seleziona la data di emissione" formControlName="dataEmissione" [matDatepicker]="dataEmissione">
        <div *ngIf="fatturaFormControls.dataEmissione.errors" class="invalid-feedback">
          <div *ngIf="fatturaFormControls.dataEmissione.errors.required">La data è obbligatoria</div>
        </div>
        <mat-datepicker-toggle matSuffix [for]="dataEmissione"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #dataEmissione></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea placeholder="Descrizione" rows="3" maxlength="300" matInput formControlName="descrizione"></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="text" placeholder="Emettitore" maxlength="300" matInput formControlName="emettitore"/>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="text" placeholder="Tipologia" maxlength="300" matInput formControlName="tipologia"/>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="number" min="1" placeholder="Importo" maxlength="300" matInput formControlName="importo" required/>
        <div *ngIf="fatturaFormControls.importo.errors" class="invalid-feedback">
          <div *ngIf="fatturaFormControls.importo.errors.required">L'importo è obbligatorio</div>
          <div *ngIf="fatturaFormControls.importo.errors.min">L'importo deve essere maggiore di 0</div>
        </div>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="text" placeholder="Numero" maxlength="300" matInput formControlName="numero"/>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [disabled]="!fatturaForm.valid" [mat-dialog-close]="1" (click)="save()">Salva</button>
      <button mat-button (click)="cancel()" tabindex="-1">Annulla</button>
    </div>
  </form>
</div>