<div class="container">
  <h3 mat-dialog-title>Fattura: {{fattura.nome}}</h3>

  <form class="mat-dialog-content" [formGroup]="pagaFatturaForm">

    <div class="form">
      <mat-form-field color="accent">
        <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
        <input matInput style="display: none">
        <mat-checkbox  matInput formControlName="pagata">Pagata</mat-checkbox>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input disabled matInput placeholder="Seleziona la data" formControlName="dataPagamento" [matDatepicker]="dataPagamento">
        <div *ngIf="pagaFatturaFormControls.dataPagamento.errors" class="invalid-feedback">
          <div *ngIf="pagaFatturaFormControls.dataPagamento.errors.required">La data è obbligatoria</div>
        </div>
        <mat-datepicker-toggle matSuffix [for]="dataPagamento"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #dataPagamento></mat-datepicker>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [disabled]="!pagaFatturaForm.valid" [mat-dialog-close]="1" (click)="save()">Salva</button>
      <button mat-button (click)="cancel()" tabindex="-1">Annulla</button>
    </div>
  </form>
</div>