<form #form="ngForm" (ngSubmit)="onSubmit()">
 <mat-card class="fattura-card">
   <mat-card-title>
     Aggiungi fattura
   </mat-card-title>
   <mat-card-content>
     <mat-form-field>
       <input type="text" placeholder="Nome" maxlength="300" matInput [(ngModel)]="fattura.nome" name="fattura"/>
     </mat-form-field>
     <mat-form-field>
       <input disabled matInput placeholder="Seleziona la data" [(ngModel)]="fattura.date" name="date" [matDatepicker]="date">
       <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
       <mat-datepicker disabled="false" #date></mat-datepicker>
     </mat-form-field>
     <mat-form-field>
       <textarea placeholder="Descrizione" rows="3" maxlength="300" matInput [(ngModel)]="fattura.descrizione" name="fattura"></textarea>
     </mat-form-field>
      <mat-form-field>
       <input type="text" placeholder="Emittitore" maxlength="300" matInput [(ngModel)]="fattura.emittitore" name="emittitore"/>
     </mat-form-field>
      <mat-form-field>
       <input type="text" placeholder="Tipologia" maxlength="300" matInput [(ngModel)]="fattura.tipologia" name="tipologia"/>
     </mat-form-field>
      <mat-form-field>
       <input type="number" placeholder="Importo" maxlength="300" matInput [(ngModel)]="fattura.importo" name="importo"/>
     </mat-form-field>
      <mat-form-field>
       <input type="number" placeholder="Numero" maxlength="300" matInput [(ngModel)]="fattura.numero" name="numero"/>
     </mat-form-field>
   </mat-card-content>
   <mat-card-actions>
     <button mat-button type="submit">Save me!</button>
   </mat-card-actions>
 </mat-card>
</form>
<pre> {{ fattura | json }} </pre>