<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation();"
                      (change)="$event ? checkItem(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Tipologia Column -->
    <ng-container matColumnDef="tipologia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipologia</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tipologia.nome}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Titolo Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- ImportoIva Column -->
    <ng-container matColumnDef="importoIva">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Importo Iva</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.importoIva | currency:'EUR'}}</mat-cell>
      <mat-footer-cell *matFooterCellDef> {{totale | currency:'EUR'}} </mat-footer-cell>
    </ng-container>

    <!-- Coperto Column -->
    <ng-container matColumnDef="coperto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Coperto</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.importoDaPagare == 0; else notDisplayCoperto">
          <i class="material-icons">done</i>
        </div>
        <ng-template #notDisplayCoperto><i class="material-icons">close</i></ng-template>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Azioni Column -->
    <ng-container matColumnDef="azioni">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="detailsPreventivo(row._id, row.nome, row.descrizione, 
                                         row.tipologia, row.importo, row.iva, row.importoIva)">
            Dettagli <mat-icon color="accent" aria-label="Dettagli">details</mat-icon>
          </button>
          <button mat-menu-item (click)="editPreventivo(row._id, row.nome, row.descrizione,
                                                        row.tipologia, row.importo, row.iva)">
            Modifica <mat-icon color="accent" aria-label="Modifica">edit</mat-icon>
          </button>
          <button mat-menu-item (click)="associaFattura(row._id, row.nome)">
            Associa Fattura <mat-icon color="accent" aria-label="Associa fattura">link</mat-icon>
          </button>
          <button mat-menu-item (click)="deletePreventivo(row._id, row.nome, row.descrizione)">
            Cancella <mat-icon color="accent" aria-label="Cancella">delete</mat-icon>
          </button>
        </mat-menu>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>