<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation();"
                      (change)="$event ? checkItem(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="dataEmissione">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data Emissione</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.dataEmissione | date: 'shortDate'}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>Totale</mat-footer-cell>
    </ng-container>

    <!-- Tipologia Column -->
    <ng-container matColumnDef="tipologia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipologia</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tipologia.nome}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Titolo Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Descrizione Column -->
    <ng-container matColumnDef="descrizione">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descrizione</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.descrizione}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Emettitore Column -->
    <ng-container matColumnDef="emettitore">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Emettitore</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.emettitore}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Importo Column -->
    <ng-container matColumnDef="importo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Importo</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.importo | currency:'EUR'}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Iva Column -->
    <ng-container matColumnDef="iva">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Iva</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.iva}} %</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- ImportoIva Column -->
    <ng-container matColumnDef="importoIva">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Importo Iva</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.importoIva | currency:'EUR'}}</mat-cell>
      <mat-footer-cell *matFooterCellDef> {{totale | currency:'EUR'}} </mat-footer-cell>
    </ng-container>

    <!-- Azioni Column -->
    <ng-container matColumnDef="azioni">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(row._id, row.nome, row.dataEmissione, row.descrizione,
         row.emettitore, row.tipologia, row.importo, row.iva)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(row._id, row.nome, row.descrizione)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>